{{! Maintainers - Daryl Hedley}}
<div class="component-inner testcomponent-inner">
    {{> component this}}
    <div class="component-widget testcomponent-widget">
    
    <button class="specialbtn">PRESS TO COMPLETE</button>
    
    </div>
</div>
